

* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}

.card {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: auto;
  margin-top: 100px
}

#text {
  text-align: center;
  font-weight: 400;
  font-size: 2em;
  padding: 30px;
}

#author {
  font-size: 1em;
  margin: 100px 35px 0 0;
}

#tweet-quote {
  color: white;
  text-decoration: none;
}

a {
  color: white;
}

.ploydy {
  color: black;
  text-align: center;
}

.ploydyy {
  text-decoration: none;
}
